/* CSS crunched with Crunch - http://crunchapp.net/ */
body{background-image:url("../resources/takingphoto.jpg");}
.photobanner{height:650px;width:4000px;margin-bottom:80px;}.photobanner img{height:400px;}
