/* CSS crunched with Crunch - http://crunchapp.net/ */
body{font-family:Georgia;background-color:#f5f5f5;padding:5%;margin:3em;margin-right:5%;border:#222222;border-width:100%;background-position:top center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}@media only all and (max-width:640px) and (max-height:426px){body body{background-size:640px 426px;-moz-background-size:640px 426px;-webkit-background-size:640px 426px;}}@font-face{font-family:'WalkwaySemiBoldRegular';src:url('Walkway_SemiBold-webfont.eot');font-weight:normal;font-style:normal;}body h1{padding-top:2%;padding-bottom:2%;border-bottom:1px solid #333333;font-size:200%;font-family:Papyrus, fantasy;}
body p{font-size:90%;font-family:"Book Antiqua",Palatino;}
.page{width:90%;overflow:auto;margin:1em 2%;border-radius:15px;background-color:rgba(255, 255, 255, 0.7);margin-top:30px;margin-bottom:20px;border:1px solid white;-moz-border-radius:15px;padding:2em;}.page h2,.page h3,.page h4{font-family:Papyrus, fantasy;}
.inner{margin:0;text-align:left;width:90%;}
.rightcolumn{padding:70% width:30%;text-align:right;}
.fourcolumn{margin-top:3px;width:25%;float:left;display:block;margin-bottom:3px;}
.column2{margin-top:3px;width:50%;float:left;display:block;margin-bottom:3px;}
.column3{margin-top:3px;width:33.333333333333336%;float:left;display:block;margin-bottom:3px;}
.list{margin-top:7px;list-style-type:none;}.list li{font-size:100%;padding-bottom:5%;}
a:link{font-size:100%;text-decoration:none;color:#4b308d;}
a:visited{color:#54446c;}
a:hover{color:#9932cc;}
a:active{color:#7851a9;}
ul{padding:0;margin:0;}ul li{display:inline;text-decoration:none;display:inline-block;float:left;width:25%;height:25px;text-align:center;line-height:300%;border-width:15%;}
.bar2{position:relative;width:100%;float:left;margin:2em auto;padding:0 0;list-style:none;text-align:center;display:block;clear:both;}.bar2 ul li{width:50%;border-bottom:1px solid #333333;border-top:1px solid #333333;height:45px;}
.bar3{position:relative;width:100%;float:left;margin:2em auto;padding:0 0;list-style:none;text-align:center;display:block;clear:both;}.bar3 ul li{width:33.333333333333336%;border-bottom:1px solid #333333;border-top:1px solid #333333;height:45px;}
.bar4{position:relative;width:100%;float:left;margin:2em auto;padding:0 0;list-style:none;text-align:center;display:block;clear:both;}.bar4 ul li{width:25%;border-bottom:1px solid #333333;border-top:1px solid #333333;height:45px;}
.bar5{position:relative;width:100%;float:left;margin:2em auto;padding:0 0;list-style:none;text-align:center;display:block;clear:both;}.bar5 ul li{width:20%;border-bottom:1px solid #333333;border-top:1px solid #333333;height:45px;}
.quote{width:80%;padding:0.5em 5% 0.5em 10%;font-style:italic;font-size:90%;}.quote .source{float:right;}
.section{position:relative;padding-bottom:1em;border-bottom:1px solid #cccccc;}.section h2{font-size:120%;font-family:Papyrus, fantasy;}
.section h4{font-size:100%;position:absolute;top:0.35em;bottom:0.35em;right:0;}
.section h3{font-size:90%;font-family:Papyrus, fantasy;}
.section p{font-size:85%;margin:0;}
.wrap{width:90%;position:relative;}.wrap .left{width:42%;float:left;padding-right:6%;}
.wrap .right{float:auto;}
.test{clear:both;}
#ft{margin-bottom:2em;padding:1.5em 0 1.5em 0;font-size:92%;border-top:1px solid #cccccc;text-align:center;}#ft p{margin-bottom:0;text-align:center;}
