body {
  font-family: Avenir;
}

.content {
  margin: auto;
  padding-top: 20%;
  width: 70%;
  max-width: 600px;
}

.bio a {
  text-decoration: none;
}

.links a {
  text-decoration: none;
  font-size: 25px;
  padding-right: 10px;
}

.random {
  font-size: 60%;
}