
/* Mobile Styles */
@media only screen and (max-width: 1000px) {
  body {
    font-size: 20px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #picpad-container {
    display: none;
  }
  .activities .time {
    margin-left: 5px;
    float: none !important;
    font-weight: 600;
  }
  .activity-item {
    margin-bottom: 10px !important;
  }
}

.large-text {
  font-size: 1.2em;  
} 

.sec-header {
  color:#9232d6c5
}

h3 {
  color: var(--blue-500);
}

.intro-para {
  margin-top: 10px;
}

a:link {
  color: var(--blue-500);
  /* color:rgb(34, 165, 197) !important; */
}

a:hover {
  color: var(--blue-800);
}

a:visited {
  color: var(--blue-grey-600);
}
/* a:active */
    
.boldtext {
  font-weight: 700 !important;
}

.semiboldtext {
  font-weight: 500 !important;
}
  
.smalltext {
  font-size:.8em;
}

.chinese {
  font-family: "STXihei", "华文细黑";
  font-size: .5em !important;
}

.intro {
  padding-left: 0px;
}

#name {
  font-size: 3.6em;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .2em;
}
  
#title {
  font-size: 1.2em;
}
  
#email {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: .9em;
  margin-top: 2px;
  margin-bottom: 2px;
}

h3 {
  font-weight: 400;
}
  
#picpad {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: 0em;
  float: right;
}

li {
  margin-top: .5em;
}

.pubtitle{
  font-weight: 500;
}

.pubheader {
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 5px;
  clear: both;
  font-size: 1.2em;
  font-weight: 500;
  color: 222;
}

#statement {
  margin-top: 12px;
  font-style: italic;
  font-size: 20px;
}

.project-statement {
  font-size: 1em;
}

.pubgroup {
  margin-bottom: 14px;
} 

.place .time {
  float: right;
}
.place .name {
  font-size: 1.1em;
  font-weight: 500;
}
.place .location {
  float: right;
}

.education .place {
  margin-bottom: 10px;
}
.employment-item {
  margin-bottom: 10px;
}

#statemment {
  margin-top: 14px;
}

.authors .me {
  font-weight: 500 !important;
}

.activities .venue {
  font-weight: 500 !important;
  font-style: italic;
}

.activity-item {
  margin-bottom: 5px;
}

.activities .time {
  float: right;
}

.employment .place {
  font-size: 0.9em;
  font-style: oblique !important;
}

.employment-item .role {
  font-weight: 500;
}

.employment-item .time {
  float: right;
}


.bottom {
  height: 100px;
}

/* ------------ */

.approach-intro {
  font-size: 1.1em;
}

.approach {
  margin-bottom: 20px;
}

.approach .summary {
  font-weight: 500;
}

@media print {
  .col-md-8 {
    width: 60%;
    float: left;
  }
  .col-md-4 {
    width: 30%;
    float:right;
  }
}